name: CI for Tests

on: push

jobs:

    build:

        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v2

            - name: Set up Python 3.9
              uses: actions/setup-python@v2
              with:
                python-version: 3.9

            - name: Install Python dependencies
              run: |
                python3 -m pip install --upgrade pip
                pip3 install -r requirements.txt

            - name: Test with PyTest
              run: |
                python3 -m pytest --cov=inflammation.models tests/test_models.py
